# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.sqlite3
*.db
*.log
*.pot
*.mo
*.env
.env*
venv/
ceyo-venv/
.ceyo_venv/
ENV/

# Django
*.sqlite3
db.sqlite3
/static/
/media/

# Node
node_modules/
dist/
build/

# Vite
.vite/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp
*.tmp

# React
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Others
npm-debug.log*
yarn-debug.log*
yarn-error.log*
