@import "tailwindcss";


@font-face {
  font-family: 'MainFont';
  src: url('../public/fonts/mainFont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'MainFont', sans-serif;
  background-color: #EDE8D0;
}

input::placeholder {
  font-size: 14px;
  font-weight: bold;

}

h1 {
  @apply text-4xl font-bold leading-tight;
}

h2 {
  @apply text-3xl font-semibold;
}

h3 {
  @apply text-2xl font-medium;
}

@theme {
  --font-main: 'MainFont';
}

@layer base {
  .icon {
    @apply w-5;
  }
}

@layer utilities {

  .inline-font {
    font-feature-settings: "case";
  }

  .sticky {
    @apply fixed top-0 w-full;
  }


  /* Animations */
  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  @keyframes slide-left {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }

    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  @keyframes logo-slide-left {
    0% {
      transform: translateX(0);

    }

    100% {
      transform: translateX(32vw)

    }
  }

  @keyframes logo-slide-right {
    0% {
      transform: translateX(32vw);

    }

    100% {
      transform: translateX(0%);

    }
  }

.animate-slide-down {
  animation: slide-down 0.5s cubic-bezier(0.57, 0, 0.2, 1) forwards;
  }
}

.animate-slide-up {
  animation: slide-up 0.5s cubic-bezier(0.57, 0, 0.2, 1) forwards;
}

.animate-slide-right {
  animation: slide-right 0.5s cubic-bezier(0.57, 0, 0.2, 1) forwards;
}

.animate-slide-left {
  animation: slide-left 0.5s cubic-bezier(0.57, 0, 0.2, 1) forwards;
}

.logo-animation-left{
  animation: logo-slide-left 0.6s cubic-bezier(0.57, 0, 0.2, 1) forwards;
}
.logo-animation-right{
  animation: logo-slide-right 0.2s cubic-bezier(0.57, 0, 0.2, 1) forwards;
}



@layer components {

  /* header */
  .header {
    @apply flex flex-row items-center justify-between z-1000 w-9/10 px-5 h-14 rounded-3xl bg-[#EDE8D0] shadow-md fixed top-12 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .menu {
    @apply order-1 md:order-2 md:mx-auto md:mt-0;
  }

  .logo-div {
    @apply absolute inset-0 mx-auto flex max-w-[75px] items-center justify-center;
  }

  .logo {
    @apply order-2 md:order-1 md:mx-auto md:mt-0 w-18;
  }

  .header-children {
    @apply order-3 md:order-3 md:ml-auto md:mt-0 flex gap-4;
  }

  /* Active Menu and Search*/

  .menu-active,
  .search-active,
  .cart-active {
    @apply top-0 left-0 w-full bg-[#d9a17f] z-500;
  }

  .menu-active,
  .cart-active{
    @apply h-full fixed;
  }

  .search-active{
    @apply fixed inset-0 h-screen w-screen overflow-y-auto z-50;
  }


  /* Search Overlay */

  .search-content-parent{
    @apply mt-24 flex flex-col justify-start items-center;
  }

  .search-parent {
    @apply w-9/10 h-[50px] flex items-center justify-center rounded-[30px] overflow-hidden shadow-[2px_2px_10px_rgba(0,0,0,0.075)];
    background: linear-gradient(to bottom, #EDE8D0, #d9a17f);
    
  }

  .search-input-div {
    @apply flex justify-center items-center w-97/100;
  }
  .search-input {
    @apply w-full h-[40px] outline-none bg-white rounded-[30px] pl-[15px] text-[13.4px] text-[#131313];
    letter-spacing: 0.8px;
  }


  /* Cart Overlay */

  .cart-parent{
    @apply mt-24;
  }
  .cart-title-div{
    @apply flex justify-center items-center mb-10;
  }
  .cart-items-parent{
    @apply flex flex-col gap-5 justify-center items-center;
  }

  .cart-item {
    @apply flex flex-row gap-5
    }


  /* hero banner section */

  .hero-section {
    @apply absolute z-1 top-1 px-3 pt-2;
  }

  .hero {
    @apply rounded-3xl;
  }


  /* Product Detail Page */

  .product-parent{
    @apply mt-30 flex flex-col;
  }
}